@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-mint-50: #f0fdfa;
  --color-mint-100: #ccfbf1;
  --color-mint-700: #0f766e;
}

body {
  background-color: #f9fafb;
  color: #111827;
}

